@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('./fonts/fonts.css');

:root {
  --manrope-sb: 'Manrope SemiBold';
  --manrope-r: 'Manrope Regular';

  --dark-background: #1c1b1f;
  --light-background: rgba(49, 48, 51, 0.08);

  --primary-80: #d0bcff;
  --primary-on-20: #381e72;

  --grey-wrap: rgba(208, 188, 255, 0.11);

  --prim-container-30: #4f378b;
  --prim-container-on-90: #eaddff;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--dark-background);
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
